// Colors
$colors: (
  "black": hsl(0, 0%, 0%),
  "light": hsl(0, 0%, 96%),
  "withe": hsl(0, 0%, 100%),
  "gray": hsl(0, 0%, 62%),
);

// Font-Size
$type-scale: (
  800: 2.5rem,
  700: 2rem,
  600: 1.5rem,
  500: 1.125rem,
  400: 1rem,
  300: 0.875rem,
  200: 0.75rem,
  100: 0.625rem,
);

// Font-Family
$font-family: (
  primary: ("Roboto", sans-serif),
);

// Font-weight
$font-weight: (
  700: 700,
  500: 500,
  400: 400,
);