@use "../base" as *;

.cta {
  justify-content: center;
  align-items: center;
  background-color: var(--clr-black);
  color: var(--clr-white);
  text-decoration: none;
  font-size: var(--fs-300);
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 25px;
  letter-spacing: 0.05em;
  --gap: 0.6875rem;
  border: none;

  &-secondary {
    background-color: var(--clr-gray);
  }
  &-tertiary {
    background-color: transparent;
    color: var(--clr-black);
    padding: 0;
  }
  & svg {
    transform: scale(1.4);
  }
}
