@use "../base" as *;
@use "../abstracts" as *;

nav {
  a {
    > span:first-child {
      display: none;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--clr-black);
        opacity: 1;
        transition: opacity 300ms, transform 300ms;
        transform: translate3d(-100%, 0, 0);
      }

      &:hover::after {
        transform: translate3d(0, 0, 0);
      }
    }

    svg {
      fill: var(--clr-black);
    }

    .active-text::after {
      transform: translate3d(0, 0, 0) !important;
    }

    svg:nth-child(3) {
      display: none;
    }

    .active-logo {
      svg:nth-child(2) {
        display: none;
      }
      svg:nth-child(3) {
        display: block;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  @include respond(desktop) {
    a {
      text-decoration: none;
      font-size: var(--fs-500);
      font-weight: 700;
      color: var(--clr-black);

      span:first-child {
        display: block;
      }

      span:not(:first-child) {
        display: none;
      }
    }
  }
}
