@use "../base" as *;

.newsletter .container {
  padding: 40px 24px;
  --gap: 3rem;
  flex-direction: column;

  form {
    flex-direction: column;
    align-items: start;
    --gap: 0;

    input {
      margin-bottom: 40px;

      &:focus {
          box-shadow: none;
/*           outline: 1px solid var(--clr-black); */
          outline-offset: .2rem;
          text-shadow: none;
        }
    }
  }

  #email {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--clr-black);
    padding-bottom: 14px;
  }
}
