@use "../base" as *;
@use "../abstracts" as *;

.slider .container {
  padding-top: 105px;
  user-select: none;
  background-color: var(--clr-light);

  .swiper-wrapper {
    margin-bottom: 54px;
    --gap: 0;

    @include breakpoint($bp: 75em) {
      justify-content: space-around;
    }
  }

  .swiper-slide {
    text-align: center;
    width: 185px;
  }
}